* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: black url(./assits/container_bg.png);
    height: 2450px;

}


.nav-items {
    height: 64px;
    background-image: url(./assits/bg-strip.jpg);
    display: flex;
    list-style-type: none;
    width: 100%;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;


    }

    li {
        border-left: solid 2px #dededeec;
        object-fit: cover;
        display: inline-block;

    }

    .img-1 {
        background-color: #fff;
        height: 60px;
        padding: 8px;
        box-shadow: 0 0 7px 1px #666666;
    }

    .img-2 {
        padding: 8px;

    }

}

.main-container {
    z-index: 1;
    background-color: #fff;
    border-top: 2px solid #f0f0f0;
    height: 90px;
    width: 100%;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;

    .box-1 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        background-color: #919191;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;

        .home {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: center;

        }

        .line {
            border-radius: 0 0 0 5px;
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #919191;
            bottom: -6px;
        }
    }

    .box-2 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;


        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #E3350D;
            bottom: -6px;
        }
    }

    .box-3 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;
        font-size: 87.5%;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            text-align: center;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #ee6b2f;
            bottom: -6px;
        }
    }

    .box-4 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;
        font-size: 87.5%;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            text-align: center;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #e6bc2f;
            bottom: -6px;
        }
    }

    .box-5 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #4dad5b;
            bottom: -6px;
        }
    }

    .box-6 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;
        font-size: 87.5%;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            text-align: center;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #30a7d7;
            bottom: -6px;
        }
    }

    .box-7 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 300;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 6px;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            border-radius: 0 0 8px 0;
            height: 6px;
            background-color: #1b53ba;
            bottom: -6px;

        }
    }

    i {
        height: 29px;
        width: 28px;
        font-size: 150%;
    }
}

.box-2:hover {
    background-color: #E3350D;

    .home {
        color: #fff;
    }
}


.box-3:hover {
    background-color: #ee6b2f;

    .home {
        color: #fff;
    }

}

.box-4:hover {
    background-color: #e6bc2f;

    .home {
        color: #fff;
    }

}

.box-5:hover {
    background-color: #4dad5b;

    .home {
        color: #fff;
    }

}

.box-6:hover {
    background-color: #30a7d7;

    .home {
        color: #fff;
    }

}

.box-7:hover {
    background-color: #1b53ba;

    .home {
        color: #fff;
    }

}


.login-box {

    position: relative;

    .login-div {
        position: fixed;
        display: flex;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        height: 176px;
        width: 59px;
        left: 2.6%;
        margin-top: 15px;
        border: solid 2px black;
        border-left: 0;
        border-radius: 0 25px 0 0;
        background-color: #54b564;

        .login {
            position: absolute;
            top: 20%;
            left: 19%;

            img {
                text-decoration: none;
                width: 27px;
                height: 27px;
            }

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .search-div {
        position: absolute;
        height: 67px;
        color: #fff;
        font-size: 175%;
        font-weight: 500;
        width: 100%;
        top: 65%;
        line-height: 67px;
        text-align: center;
        background-image: url(./assits/profile-nav-search-bg.png);
    }
}

.search-div:hover {
    background-image: url(./assits/profile-nav-search-bg-hover.png);
}

.big-container {
    height: 2450px;
    width: 1280px;
    margin: 0 auto;
    background: #fff url(./assits/container_bg.png);

    .big-box {
        width: 890px;
        height: 792px;
        margin: 0 auto;
        background-color: #ffffff;
        padding-top: 35px;
        display: flex;
        gap: 10px;
        cursor: pointer;

        .baap {
            height: 457px;
            width: 578px;
            margin-left: 14px;

            img {
                border-radius: 5px 5px 0 0;
            }

            .pink-div {
                background-color: #ff90c4;
                height: 130px;
                border-radius: 0 0 5px 5px;
                width: 578px;
                margin-top: -5px;
                display: flex;
                padding-top: 1.5em;
                padding-bottom: 0.25em;


                .heading h3 {
                    font-size: 125%;
                    line-height: 125%;
                    text-transform: none;
                    font-family: "Flexo-Medium", arial, sans-serif;
                    color: #f0f0f0;
                    margin-left: 0.89em;

                }

                p {
                    font-family: "Roboto", arial, sans-serif;
                    font-size: 88%;
                    font-weight: 500;
                    line-height: 125%;
                    margin-left: 1.25em;
                    padding-top: 10px;
                    color: #c3005b;
                }

                .s-pic {
                    display: flex;
                    align-items: flex-end;
                    margin-top: 33px;
                    padding-left: 9.87px;
                    height: 73px;
                    width: 187px;

                    img {

                        border-radius: 0 0 5px 0;
                    }
                }
            }

            .bachey {
                display: flex;
                justify-content: space-between;

                .bacha-one {
                    height: 254px;
                    width: 280px;
                    margin-top: 20px;

                    img {
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }

                    .yellow-div {
                        display: flex;
                        background-color: #e6bc2f;
                        height: 97px;
                        border-radius: 0 0 10px 10px;
                        margin-top: -5px;
                        padding-top: 1.5em;
                        padding-bottom: 0.25em;
                        justify-content: center;

                        h3 {
                            color: #fff;
                            height: 55px;
                            width: 247px;
                            font-size: 22px;
                            font-weight: 500;

                        }
                    }

                }

                .bacha-two {
                    height: 254px;
                    width: 280px;
                    margin-top: 20px;

                    img {
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }

                    .green-div {
                        display: flex;
                        background-color: #4dad5b;
                        height: 97px;
                        border-radius: 0 0 10px 10px;
                        margin-top: -5px;
                        padding-top: 1.5em;
                        padding-bottom: 0.25em;
                        justify-content: center;

                        h3 {
                            color: #fff;
                            height: 55px;
                            width: 247px;
                            font-size: 22px;
                            font-weight: 500;

                        }
                    }

                }
            }

        }

        .baap-two {
            height: 735px;
            width: 260px;

            .bacha-1 {
                height: 254px;
                width: 280px;

                img {
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }

                .purple-div {
                    display: flex;
                    background-color: #353799ab;
                    height: 97px;
                    border-radius: 0 0 10px 10px;
                    margin-top: -5px;
                    padding-top: 1.5em;
                    padding-bottom: 0.85em;
                    justify-content: center;

                    h3 {
                        color: #fff;
                        height: 55px;
                        width: 247px;
                        font-size: 22px;
                        font-weight: 500;

                    }
                }

            }

            .bacha-2 {
                height: 254px;
                width: 280px;
                margin-top: 20px;

                img {
                    width: 100%;
                    border-radius: 10px 10px 0 0;

                }

                .blue-div {
                    display: flex;
                    background-color: #1b53ba;
                    height: 123px;
                    border-radius: 0 0 10px 10px;
                    margin-top: -5px;
                    padding-top: 1.5em;
                    padding-bottom: 0.25em;
                    justify-content: center;

                    h3 {
                        color: #fff;
                        height: 55px;
                        width: 247px;
                        font-size: 22px;
                        font-weight: 500;

                    }
                }

            }

            .bacha-3 {
                height: 160px;
                width: 280px;
                background-color: #fff;
                margin-top: 40px;
                display: flex;

                img {
                    height: 100%;
                    width: 114px;
                    border-radius: 10px 0 0 10px;
                }

                .heading {
                    display: flex;
                    height: 100%;
                    width: 166px;

                    h3 {
                        border-radius: 0 10px 10px 0;
                        display: flex;
                        align-items: center;
                        background-color: #313131;
                        text-align: center;
                        color: #fff;
                        font-size: 22px;
                        font-weight: 500;

                    }

                }
            }

        }
    }

    .slider-tittle {
        margin-left: 15%;
        margin-top: 3%;
        border-radius: 10px 10px 0 0;
        border: solid 5px #232323;
        background-color: #232323;
        color: #919191;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        width: 252px;
        font-size: 20px;
        font-weight: 400;

        .tittle {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }

    .slider {
        cursor: pointer;
        margin: 0 auto;
        height: 455px;
        overflow: hidden;
        border: 3px solid black;
        display: flex;
        background-color: gray;
        overflow-x: auto;

        .picx {
            height: 100%;
            width: 250px;
            border: 1.5px solid black;
            background-color: gray;

            img {
                width: 250px;
                height: 100%;
                opacity: 34;
            }

            .pokemon-img {
                position: relative;

                .overly {
                    opacity: 0.4;
                    position: absolute;
                    color: #525252af;
                    font-family: "Flexo-Bold", arial, sans-serif;
                    font-size: 110px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 0;
                    right: 0;
                    top: 0;
                }

            }

            .test {
                background-color: #232323;
                height: calc(100% - 254px);
            }

            .pokemon-detail {
                display: flex;
                justify-content: space-between;

                h5 {
                    color: #ffffff;
                    font-size: 24px;
                    font-weight: 400;
                    padding: 20px 25px;

                }



            }

            .hidden {
                visibility: hidden;
                height: calc(100% - 321px);

                .h {
                    display: flex;
                    gap: 30px;
                    padding-left: 30px;
                }

                .p {
                    display: flex;
                    gap: 30px;
                    padding-left: 30px;
                    padding-top: 10px;
                }

                h6 {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                }

                p {
                    color: #fff;
                    letter-spacing: 1.666666px;
                    font-size: 18px;
                    font-weight: 500;

                }
            }

        }

        .picx:hover {
            transform: scale(1.2);

            .hidden {
                visibility: visible;

            }
        }

    }

    .slider-more-botton {

        height: 50px;
        width: 100%;
        margin-top: 40px;
        display: flex;

        .slider-botton {
            margin-left: 60%;
            background-color: #313131;
            display: flex;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            width: 40vh;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 105%;
                font-weight: 600;
                font-family: "Flexo-Demi", arial, sans-serif;

            }
        }
    }

    .last-container {
        width: 930px;
        height: 980px;
        margin: 0 auto;
        background-color: #fff;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        gap: 5px;
        cursor: pointer;
        border-radius: 0 0 10px 10px;

        .column-one {

            height: 750px;
            width: 282px;

            .beta {
                margin-top: 70px;
                height: 360px;

                .img-box {
                    height: 159px;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }
                }

                .data {
                    height: 199px;
                    width: 100%;
                    margin-top: -5px;
                    background-color: #855ac9;
                    border-radius: 0 0 10px 10px;

                    h3 {
                        color: #fff;
                        margin-left: 1.09em;
                        font-size: 137.5%;
                        line-height: 125%;
                        text-transform: none;
                        font-family: "Flexo-Medium", arial, sans-serif;
                        padding-top: 10px;

                    }

                    p {
                        font-family: "Roboto", arial, sans-serif;
                        padding-top: 10px;
                        font-size: 100%;
                        font-weight: 500;
                        line-height: 155%;
                        margin-left: 1.25em;

                    }
                }

            }

            .beta-two {
                margin-top: 10px;
                height: 360px;

                .img-box {
                    height: 159px;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }
                }

                .data {
                    height: 199px;
                    width: 100%;
                    margin-top: -5px;
                    background-color: #e6bc2f;
                    border-radius: 0 0 10px 10px;

                    h3 {
                        color: #fff;
                        margin-left: 1.09em;
                        font-size: 137.5%;
                        line-height: 125%;
                        text-transform: none;
                        font-family: "Flexo-Medium", arial, sans-serif;
                        padding-top: 10px;

                    }

                    p {
                        font-family: "Roboto", arial, sans-serif;
                        padding-top: 10px;
                        font-size: 100%;
                        font-weight: 500;
                        line-height: 155%;
                        margin-left: 1.25em;

                    }
                }

            }


        }

        .column-two {


            height: 905px;
            width: 282px;

            .beta {
                height: 360px;
                margin-top: 20px;

                .img-box {
                    height: 159px;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }
                }

                .data {
                    height: 240px;
                    width: 100%;
                    margin-top: -5px;
                    background-color: #1b53ba;
                    border-radius: 0 0 10px 10px;

                    h3 {
                        color: #fff;
                        margin-left: 1.09em;
                        font-size: 137.5%;
                        line-height: 125%;
                        text-transform: none;
                        font-family: "Flexo-Medium", arial, sans-serif;
                        padding-top: 10px;

                    }

                    p {
                        font-family: "Roboto", arial, sans-serif;
                        padding-top: 10px;
                        font-size: 100%;
                        font-weight: 500;
                        line-height: 155%;
                        margin-left: 1.25em;
                        color: #30a7d7;

                    }
                }
            }

            .extra {
                height: 100px;
                width: 100%;
                opacity: 0.80;
                left: 0;
                right: 0;
                margin-top: 60px;

                h2 {
                    margin: 0.5em 0;
                    color: #919191;
                    cursor: default;
                    font-weight: 300;
                    font-size: 187.5%;
                    line-height: 125%;
                    text-transform: none;
                    font-family: "Flexo-Regular", arial, sans-serif;
                }
            }

            .beta-two {
                height: 360px;
                margin-top: 20px;

                .img-box {
                    height: 159px;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }
                }

                .data {
                    height: 220px;
                    width: 100%;
                    margin-top: -5px;
                    background-color: #30a7d7;
                    border-radius: 0 0 10px 10px;

                    h3 {
                        color: #fff;
                        margin-left: 1.09em;
                        font-size: 137.5%;
                        line-height: 125%;
                        text-transform: none;
                        font-family: "Flexo-Medium", arial, sans-serif;
                        padding-top: 10px;

                    }

                    p {
                        font-family: "Roboto", arial, sans-serif;
                        padding-top: 10px;
                        font-size: 100%;
                        font-weight: 500;
                        line-height: 155%;
                        margin-left: 1.25em;

                    }
                }
            }
        }

        .column-three {

            height: 860px;
            width: 282px;

            .beta {
                height: 360px;
                margin-top: 40px;

                .img-box {
                    height: 159px;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }
                }

                .data {
                    height: 206px;
                    width: 100%;
                    margin-top: -5px;
                    background-color: #a4a4a4;
                    border-radius: 0 0 10px 10px;

                    h3 {
                        margin-left: 1.09em;
                        font-size: 137.5%;
                        line-height: 125%;
                        text-transform: none;
                        font-family: "Flexo-Medium", arial, sans-serif;
                        padding-top: 15px;

                    }

                    p {
                        font-family: "Roboto", arial, sans-serif;
                        padding-top: 10px;
                        font-size: 100%;
                        font-weight: 500;
                        line-height: 155%;
                        margin-left: 1.25em;

                    }
                }
            }


        }

        .beta-two {

            height: 360px;
            margin-top: 20px;

            .img-box {
                height: 159px;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }
            }

            .data {
                height: 220px;
                width: 100%;
                margin-top: -5px;
                background-color: #4dad5b;
                border-radius: 0 0 10px 10px;

                h3 {
                    color: #fff;
                    margin-left: 1.09em;
                    font-size: 137.5%;
                    line-height: 125%;
                    text-transform: none;
                    font-family: "Flexo-Medium", arial, sans-serif;
                    padding-top: 10px;

                }

                p {
                    font-family: "Roboto", arial, sans-serif;
                    padding-top: 10px;
                    font-size: 100%;
                    font-weight: 500;
                    line-height: 155%;
                    margin-left: 1.25em;

                }
            }
        }

        .beta-3 {
            height: 124px;
            width: 100%;
            margin-top: 40px;

            .img-box {
                border-radius: 10px 10px 0 0;
                height: 47px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 107.5%;
                font-weight: 400;
                line-height: 105%;
                text-transform: none;
                font-family: "Flexo-Medium", arial, sans-serif;
                color: #fff;
                background-color: #ee6b2f;

            }

            .data {
                background-color: #30a7d7;
                height: 60px;
                width: 100%;
                display: flex;
                align-items: center;
                border-radius: 0 0 20% 0;

                p {
                    margin-left: 20px;
                }
            }
        }
    }
}

.footer-container {
    margin-top: 40px;
    height: 586px;
    width: 100%;
    background-color: #1f1f1f;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;

    .parent {
        font-family: "Roboto", arial, sans-serif;
        display: flex;
        width: 850px;
        margin: 4rem auto 2rem auto;
        background-color: #1f1f1f;
        flex-direction: column;

        .pera {
            padding-top: 10px;
            font-weight: bold;
            font-size: 135%;
            color: white;
            margin-bottom: 0;

        }

        .bachey {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .bachey-1 {
                height: 126px;
                width: 408px;

                .email {
                    margin-top: 10px;
                    width: 100%;
                    height: 50px;

                    .emails {

                        border-radius: 5px;
                        font-family: "Roboto", arial, sans-serif;
                        margin-left: 5px;
                        padding-left: 5px;
                        height: 40px;
                        font-weight: bold;
                        font-size: 95%;
                        width: 405px;

                    }
                }

                .wrap {
                    height: 40px;
                    width: 100%;
                    font-family: "Roboto", arial, sans-serif;
                    display: flex;
                    gap: 10px;

                    .selection {
                        border-radius: 5px;
                        height: 100%;
                        width: 50%;

                    }

                    .birthday {
                        border-radius: 5px;
                        height: 100%;
                        width: 50%;
                    }
                }

            }



            .bachey-2 {
                width: 48%;

                p {
                    padding: 2px;
                    color: white;
                    margin-bottom: 0;

                }

                .checkboxes {
                    padding-top: 10px;
                    list-style: none;

                    li {
                        color: #fff;
                        margin-bottom: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        a {
                            color: white;
                        }

                        label {
                            flex: 2;
                            font-size: 100%;
                        }

                        input[type='checkbox'] {
                            height: 25px;
                            width: 25px;
                            margin-right: 10px;
                        }
                    }

                }
            }
        }

        .submit {
            color: #fff;
            height: 64px;
            width: 160px;
            background-color: #888;
            border-radius: 10px;
            font-size: large;
            font-weight: 500;
        }
    }





}