* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}


.nav-items {
    height: 64px;
    background-image: url(./assits/bg-strip.jpg);
    display: flex;
    list-style-type: none;
    width: 100%;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;


    }

    li {
        border-left: solid 2px #dededeec;
        object-fit: cover;
        display: inline-block;

    }

    .img-1 {
        background-color: #fff;
        height: 60px;
        padding: 8px;
        box-shadow: 0 0 7px 1px #666666;
    }

    .img-2 {
        padding: 8px;

    }

}

.main-container {
    background-color: #fff;
    border-top: 2px solid #f0f0f0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;



    .box-1 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        background-color: #919191;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;

        .home {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: center;

        }

        .line {
            border-radius: 0 0 0 5px;
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #919191;
            bottom: -6px;
        }
    }

    .box-2 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;


        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #E3350D;
            bottom: -6px;
        }
    }

    .box-3 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;
        font-size: 87.5%;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            text-align: center;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #ee6b2f;
            bottom: -6px;
        }
    }

    .box-4 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;
        font-size: 87.5%;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            text-align: center;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #e6bc2f;
            bottom: -6px;
        }
    }

    .box-5 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #4dad5b;
            bottom: -6px;
        }
    }

    .box-6 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 500;
        font-size: 87.5%;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            text-align: center;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            height: 6px;
            background-color: #30a7d7;
            bottom: -6px;
        }
    }

    .box-7 {
        cursor: pointer;
        width: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: "Roboto", arial, sans-serif;
        font-weight: 300;

        .home {
            color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 6px;
            align-items: center;

        }

        .line {
            position: absolute;
            right: 0;
            left: 0;
            border-radius: 0 0 8px 0;
            height: 6px;
            background-color: #1b53ba;
            bottom: -6px;
        }
    }

    i {
        height: 29px;
        width: 28px;
        font-size: 150%;
    }
}

.box-2:hover {
    background-color: #E3350D;

    .home {
        color: #fff;
    }
}


.box-3:hover {
    background-color: #ee6b2f;

    .home {
        color: #fff;
    }

}

.box-4:hover {
    background-color: #e6bc2f;

    .home {
        color: #fff;
    }

}

.box-5:hover {
    background-color: #4dad5b;

    .home {
        color: #fff;
    }

}

.box-6:hover {
    background-color: #30a7d7;

    .home {
        color: #fff;
    }

}

.box-7:hover {
    background-color: #1b53ba;

    .home {
        color: #fff;
    }

}
